<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/AlexaLogo.png">
    <title>Controllbox {{ HOSTNAME }}</title>
    <style>
html {font-family: Cairo; display: inline; margin: 0px auto; text-align: center;}
.button {background-color: #006699; border: none; color: white; padding: 15px 40px;text-decoration: none; font-size: 35px; margin: 2px; cursor: pointer;}
.OFF {background-color: #555555;}
#content::after {display:block; content:""; clear:both;}
</style> </head>
  <body style="background-color: #ed008c;">
    <h1><img src="/static/AlexaLogo.png" alt=""></h1>
    <h1>Help Alexa soar</h1>
    <p>Relay State: {{ RELAY }}</p>
    <p>Relay 1 time: {{ TIME1 }}</p>
    <p><br>
    </p>
    <div>
      <p><a href="/SW1/TOGGLE" class="button TOGGLE">Toggle 1</a> <a href="/SW1/5" class="button time">1 +5s</a></p>
      <p><a href="/SW2/ON" class="button ON">2 ON</a> <a href="/SW2/OFF" class="button OFF">2
          OFF</a></p>
      <p><a href="/SW3/ON" class="button ON">3 ON</a> <a href="/SW3/OFF" class="button OFF">3
          OFF</a></p>
      <p><a href="/SW4/ON" class="button ON">4 ON</a> <a href="/SW4/OFF" class="button OFF">4
          OFF</a></p>
      <p></p>
    </div>
  </body>
</html>
